{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
]

%}
<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    <section class="parallax section section-text-light section-parallax section-center mt-none mb-xl" data-plugin-parallax data-plugin-options='{"speed": 1.5}' data-image-src="{{ content.field_background_image | render | striptags | trim }}">
        <div class="container">
            <div class="row mt-xl">
                <div class="col-md-8 col-md-offset-2 mt-xlg">
                    <h1 class="mt-xlg font-weight-semibold text-uppercase">{{ content.field_title | render | striptags | trim}}</h1>
                    {{ content.body }}
                </div>
            </div>
        </div>
    </section>
    {{ title_suffix }}
</div>
