{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
]

%}
<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    <div class="container">
        <div class="row mb-xl mt-xlg">
            {% if content.body | render %}
            <div class="col-md-9">
               {{ content.body }}
            </div>
            {% endif %}
            <div class="col-md-3 hidden-xs">
                <div class="row">
                    <div class="col-md-6">
                        {{ content.field_image }}
                    </div>
                    <div class="col-md-6">
                        {{ content.field_image_two }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ title_suffix }}
</div>
