{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
]

%}
<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    <section class="section section-tertiary section-front mt-none">
        <div class="container">
            <div class="row">
                <div class="col-md-12 center">
                    {% if content.body | render %}
                    <div class="row">
                        <div class="col-md-12 center">
                           {{ content.body }}
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        {{ content.field_testimonials_description }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ title_suffix }}
</div>
