
<div id="wrapper">
    {% include directory ~ '/templates/includes/header.html.twig' %}
    <div role="main" class="main relative">
        {% if page.top_categories %}
            <div class="home-slider-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-md-push-3">
                            {{ page.slide_show }}
                        </div>
                        <div class="col-md-3 col-md-pull-9">
                            {{ page.top_categories }}
                        </div>
                    </div>
                </div>
            </div>

        {% else %}
            {% if page.slide_show %}
                {{ page.slide_show }}
            {% endif %}
        {% endif %}

{#        {% include directory ~ '/templates/includes/custom-breadcrumb.html.twig' %}#}

        {% if messages %}
            <section id="messages" class="messages">
                <div class="container">
                    {{ messages }}
                </div>
            </section>
        {% endif %}
        {% if page.left_sidebar and page.right_sidebar is empty %}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="sidebar">
                        {{ page.left_sidebar }}
                    </aside>
                </div>
                <div class="col-md-9">
                    {{ page.content }}
                </div>
            </div>

        </div>

        {% elseif page.right_sidebar and page.left_sidebar is empty %}
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    {{ page.content }}
                </div>
                <div class="col-md-3">
                    <aside class="sidebar">
                        {{ page.right_sidebar }}
                    </aside>
                </div>
            </div>
        </div>


        {% elseif page.right_sidebar and page.left_sidebar %}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="sidebar">
                        {{ page.left_sidebar }}
                    </aside>
                </div>
                <div class="col-md-6">
                    {{ page.content }}
                </div>
                <div class="col-md-3">
                    <aside class="sidebar">
                        {{ page.right_sidebar }}
                    </aside>
                </div>
            </div>
        </div>

        {% else %}
            {{ page.content }}

        {% endif %}
        {% if page.after_content %}
            {{ page.after_content }}
        {% endif %}
    </div>
    {% include directory ~ '/templates/includes/footer.html.twig' %}
</div>

